* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Alkatra", cursive;
  background-color: yellow;
  text-align: center;
}
img {
  height: 250px;
  width: auto;
  border-radius: 50%;
}
h1,
h2,
p,
input {
  margin: 3rem 0;
}
h1 {
  font-size: 4rem;
  color: black;
}
input {
  height: 3rem;
  width: 300px;
  outline: none;
  border-radius: 40rem;
  cursor: pointer;
  margin-right: 2rem;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 0px 3px 30px rgba(255, 255, 255, 0.5);
}
button {
  height: 3rem;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 40rem;
  transition: all ease-in-out 0.2s;
  margin-right: 2rem;
}
button:hover {
  background-color: red;
  color: white;
  font-size: 1.3rem;
}
